.form-simple__box {
    width: 460px;
    margin: 0;
    padding: 0;
    display: grid;
    background: var(--main-bg-color-2);
    border-radius: 15px;
    align-items: start;
    justify-content: center;
    justify-items: center;
}



.form-simple__input {
    width: 330px;
    height: 32px;
    margin: 42px 0 0 0;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    background: var(--main-bg-color-1);
    border-radius: 10px;
    border: 0;
    font-family: Inter,'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--main-tx-color-1);
}

.form-simple__box-button {
    margin: 28px 0 60px 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 27px;
    align-items: start;
    justify-content: center;
    justify-items: center;
}
