<section class="form-simple__box">
    <h1 class="popup__title">Редактирование логина</h1>
    <div class="popup__form">
        <label class="form-simple__label" id={{id}}>
            <input class="form-simple__input" value="asfsaf"></input>
        </label>
    </div>
    <div class="form-simple__box-button">
        <button class="popup__button popup__button-not">Отмена</button>
        <button class="popup__button popup__button-yes">Применить</button>
    </div>
</section>
