.root {
    align-content: start;
    align-items: center;
}

.chats {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 3px;
}

.chats__left {
    width: 320px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 3px;
}

.chats__left-top {
    height: 120px;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color-2);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    align-content: start;
    justify-items: center;
}

.chats__avatar {
    margin: 16px 0 0 0;
    padding: 0;
    width: 45px;
    height: 45px;
    background-color: slategray;
    border-radius: 50%;
}

.chats__list-search {
    margin: 0 0 17px 0;
    padding: 0 0 0 10px;
    width: 288px;
    height: 26px;
    background: var(--main-bg-color-1);
    opacity: 0.5;
    border-radius: 10px;
    border: 0;
    box-sizing: border-box;
    font-family: Inter,'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--main-bg-bt-color-1);
}

.chats__list-users {
    height: 656px;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color-2);
}

.chats__users-box {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 70px;
    background: var(--main-bg-color-2);
    display: grid;
    grid-template-columns: 70px 250px;
    grid-template-rows: 70px;

}

.chats__users-avatar {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
}

.chats__avatar-img {
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #5F7EA1;
}

.chats__list-user {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 14px 56px;
    color: var(--main-tx-color-1);
}

.chats__users-title {
    margin: 0 0 0 11px;
    padding: 0 0 25px 0;
    display: grid;
    font-family: Inter,'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: end;
}

.chats__users-time {
    margin: 0 3px;
    padding: 0;
    width: 26px;
    display: grid;
    font-family: Inter,'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    align-items: center;
    justify-self: end;
}

.chats__bottom-menu {
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color-2);
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px;
    grid-column-gap: 50px;
    justify-content: center;
    align-items: center;
    color: var(--main-bg-bt-color-1);
}

.chats__setting {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 2px;
    justify-items: center;
}

.chats__setting-button {
    width: 30px;
    height: 30px;
    background: #5F7EA2;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

.chats__setting-text {
    font-family: Inter,'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
}

.chats__profile {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 2px;
    justify-items: center;
}

.chats__profile-button {
    width: 30px;
    height: 30px;
    background: #5F7EA2;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

.chats__profile-text {
    font-family: Inter,'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
}

.chats__right {
    width: 777px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 3px;
}

.chats__right-top {
    height: 50px;
    margin: 0;
    padding: 0 14px 0 0;
    background-color: var(--main-bg-color-2);
    display: grid;
    justify-items: end;
    align-items: center;
    box-sizing: border-box;
}

.chats__link-exit {
    font-family: Inter,'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: var(--main-bg-bt-color-1);
}

.chats__list-message {
    height: 726px;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color-1);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-row-gap: 20px;
}

.chats__message {

}

.chats__message-text {

}

.chats__message-time {

}

.chats__right-bottom {
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color-2);
}

.chats__button-message-file {

}

.chats__input-message-box {

}

.chats__button-message-text {

}
