.main__right-bottom {
  display: grid;
  grid-template-columns: minmax(100px, 653px) 24px;
  grid-template-rows: 50px;
  column-gap: 17px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color-2);
}

.main__button-message-sent {
  margin: 0;
  padding: 0;
  border: 0;
  width: 24px;
  height: 24px;
  background-color: var(--main-bg-color-2);
  background-image: url("../../../../static/img13.svg");
}

.main__input-message {
  margin: 0;
  padding: 0 10px;
  border: 0;
  height: 24px;
  background: var(--main-bg-color-4);
  opacity: 0.5;
  border-radius: 10px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
