.error-page {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.error-page__title {
    margin: 0;
    padding: 0;
    display: grid;
    font-family: Inter,'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    color: var(--main-tx-color-1);
}
.error-page__subtitle {
    margin: 0;
    padding: 0;
    display: grid;
    font-family: Inter,'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--main-tx-color-1);
}
.error-page__link {
    margin: 69px 0 0 0;
    padding: 0;
    display: grid;
    font-family: Inter,'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: var(--main-tx-color-2);
}


